// 
//  ClipApp build configuration
//
//  ClipApp
//  GitHub: https://github.com/abehuman/clipapp
// 
//  Created by Shunsuke Furubayashi on 2026/05/27.
// 
//  Copyright © 2015-2026 Clipy Project.
//

MARKETING_VERSION = 1.4.0
CURRENT_PROJECT_VERSION = 1.4.0

// Reuse compiler results for identical inputs in Xcode 26 and later.
COMPILATION_CACHE_ENABLE_CACHING = YES

#include "Configurations/CodeSigning.xcconfig"
