// 
//  CodeSigning.xcconfig
//
//  ClipApp
//  GitHub: https://github.com/abehuman/clipapp
// 
//  Created by Shunsuke Furubayashi on 2026/05/27.
// 
//  Copyright © 2015-2026 Clipy Project.
//

CODE_SIGN_IDENTITY[config=Debug] = Mac Developer
CODE_SIGN_IDENTITY[config=Release] = Developer ID Application
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER[config=Release] =

#include "Configurations/CodeSigning-AdHoc.xcconfig"
